


/* Small View */

:root {
    --primaryColor: #E6B855;
    --secondaryColor: #D3873B;
    --tertiaryColor: #DBB47D;
    --darkColor: #8E5132;
    --greenColor: #98B04F;
}

/* Header styyling start ///////////////////////////////////////////////////////////////*/

header{
display: grid;
grid-template-columns: 100px 1fr;
background-color: #8E5132;
padding: 10px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}


nav a{
    font-size: 125%;
    color: #DBB47D;
    text-decoration: none;
}

/* header styling end /////////////////////////////////////////////////////////////////// */




/* Home Page Map Styling */
#zoom-img{
    background-image: url("https://github.com/JoshuaHerring/lotr_project/blob/master/src/public/images/mordor.jpeg?raw=true");
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    background-repeat: no-repeat;

}
#contain {
    height: 100%;
    width: 100%;
}

/* */



/* Hamburger Menu Styles */

nav{
    display: none;
}

.hammy{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

}
.hammy a {
    display: block;
    margin: 15px;
}

#gone{
    display: block;
    margin-left: 80%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}

#gone:hover{
    cursor: pointer;
}

/*  */

/* Dropdown Menu */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
#dropdown-content a:hover {
    background-color: #ddd;
}

/* Links inside the dropdown */
#dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: white;
}

.dropdown:hover #dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#location-info{
    display: none;
}
/*  */


/* Body General Styles */
.c-list img{
    width: 70%;
    height: 70%;
    box-shadow: 0px 4px 20px black;
}

.c-list{
    margin-right: 2%;
}

.body-container{
    margin: 10px;
}

body{
    background-color: rgb(18,18,18);
    color: white;
}

/*  */





/* Footer stying start//////////////////////////////////////////////////////////////// */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #8E5132;
    color: #DBB47D;
}

/* footer styling end /////////////////////////////////////////////////////////////////////// */




/* Medium View */
@media screen and (min-width: 600px){
    body{
        background-color: burlywood;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #gone{
        display: none;
    }

    .c-list img{
        width: 200px;
        height: auto;
    }

    #contain {
        height: 70%;
        width: 70%;
    }


}