:root {
    --primaryColor: #E6B855;
    --secondaryColor: #D3873B;
    --tertiaryColor: #DBB47D;
    --darkColor: #8E5132;
    --greenColor: #98B04F;
}

/* Header styyling start ///////////////////////////////////////////////////////////////*/

header{
display: grid;
grid-template-columns: 100px 1fr;
background-color: #8E5132;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    font-size: 125%;
    color: #DBB47D;
    text-decoration: none;
}

/* header styling end /////////////////////////////////////////////////////////////////// */




/* Home Page Map Styling */
#zoom-img{
    background-image: url("mordor.jpeg");
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    background-repeat: no-repeat;

}
#contain{
    height: 600px;
    width: 800px;
}
/* */





/* Footer stying start//////////////////////////////////////////////////////////////// */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #8E5132;
    color: #DBB47D;
}

/* footer styling end /////////////////////////////////////////////////////////////////////// */