/* paragraph font */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');
/* font-family: 'Gothic A1', sans-serif; */

/* backup header */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* font-family: 'MedievalSharp', cursive; */


/* header font */
@font-face {
    font-family: ringbearer;
    src: url("./ringbearermedium-51mgz.ttf");
    font-weight: 800;
}

:root {
    --primaryColor: #E6B855;
    --secondaryColor: #D3873B;
    --tertiaryColor: #DBB47D;
    --darkColor: #8E5132;
    --greenColor: #98B04F;
}

/* Small View */


/* Header styyling start ///////////////////////////////////////////////////////////////*/

#title{
    font-family: ringbearer, 'MedievalSharp', cursive;
    letter-spacing: 3.4px;
    word-spacing: 2px;
    font-size: 40px;
    text-align: center;
    margin: 40px 0 40px 0;
    text-shadow: 0px 0px 10px #E6B855;
    -webkit-text-stroke: 0.02em black;
}

header{
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: none;
    padding: 10px;
    
    
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}


nav a{
    font-size: 125%;
    /* color: #DBB47D; */
    color: #E9D1AF;
    text-decoration: none;
}

/* header styling end /////////////////////////////////////////////////////////////////// */




/* Home Page Map Styling */
#zoom-img{
    background-image: url("https://github.com/JoshuaHerring/lotr_project/blob/master/src/public/images/mordor.jpeg?raw=true");
    
    background-position: center;
    background-size: 100%;
    /* border: 2px solid black; */
    background-repeat: no-repeat;
    box-shadow: 0px 4px 20px black;
    border-radius: 10px;

}
#contain {
    height: 100%;
    width: 100%;
}

/* */



/* Hamburger Menu Styles */

nav{
    display: none;
}

.hammy{
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

}
.hammy a {
    display: block;
    margin: 15px;
    font-weight: 10000;
}

header a:hover{
    text-shadow: 0px 0px 3px #E6B855;
    
}

#gone{
    display: block;
    margin-left: 80%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
}

#gone:hover{
    cursor: pointer;
}

/*  */

/* Dropdown Menu */

.dropbtn {
    background-color: #B19068;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: 0.1px solid black;
    width: 100%;
    border-radius: 10px;
    box-shadow:0px 4px 20px black;
    font-family: ringbearer, 'MedievalSharp', cursive;
    letter-spacing: 1.4px;
    -webkit-text-stroke: 0.25px black;
    text-shadow: 2px 2px 5px black;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin-top: 40px;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}

#dropdown-content a:hover {
    background-color: #B19068;
    opacity: 1;
    border: 1px solid black;
    font-weight: bold;
}

/* Links inside the dropdown */
#dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #DBB47D;
    opacity: 0.8;
    font-family: 'Gothic A1', sans-serif;
    margin: 0 auto;
    width: 70%;
}

#dropdown-content a:nth-child(1){
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
}

#dropdown-content a:last-child{
    
    border-radius: 0 0 10px 10px;
}


.dropdown:hover #dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #E1AD7A;
}

#location-info{
    display: none;
    margin-top: 40px;

}

#location-info h2{
    text-align: center;
}

#location-info p{
    margin: 20px;
    line-height: 25px;
    font-size: 15px;
}

#big-organize{
    margin-top: 60px;
}


/*  */


/* Body General Styles */
#charRaces{
    color: white;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    font-family: ringbearer, 'MedievalSharp', cursive;
    letter-spacing: 1.4px;
    -webkit-text-stroke: 0.02em black;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    margin: 0 auto;
    font-size: 38px;
}

.character-list{
    padding: 0;
    text-align: center;
}


.c-list a img{
    width: 70%;
    height: 70%;
    box-shadow: 0px 4px 20px black;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.75s ease-in;

}

.c-list a img:hover{
    box-shadow: 0px 4px 20px #E6B855;
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.body-container{
    margin: 10px;
}

body{
    background-color: rgb(18,18,18);
    color: white;
    background-image: url("../images/background.jpeg");
    max-width: 1400px;
    margin: 0 auto;
}

body p, body a{
    font-family: 'Gothic A1', sans-serif;
}

ul li{
    list-style-type: none;
    display: inline;
}

/*  */

/* Sign-Up Page */

body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink; 
    padding-left: 5%; 
  }
        

  form{
    font-size: 20px;
    padding-top: 2%;
  }

  select{
    font-size: 20px;
  }

  .container {  
    padding: 50px;  
    background-color: lightblue;  
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 50%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: block;  
    border: none;  
    background: #f1f1f1;
    font-size: 20px;  
  } 

  input[type=text]:focus, input[type=password]:focus {  
    background-color: #DBB47D;  
    outline: none; 
  } 

  
   div {  
    padding: 10px 0;  
    } 

  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  } 

  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;    
    opacity: 0.9; 
    font-size: 20px; 
  }  

  .registerbtn:hover {  
    opacity: 1;  
  }


/*  */





/* Footer stying start//////////////////////////////////////////////////////////////// */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    /* background-color: #8E5132; */
    color: black;
}

/* footer styling end /////////////////////////////////////////////////////////////////////// */




/* Medium View */
@media screen and (min-width: 600px){
    body{
        background-color: burlywood;
    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #title{
        font-size: 47px;
    }

    #contain {
        height: 90%;
        width: 90%;
        margin: 0 auto;
    }


    .dropdown{
        width: 500px;
        margin: 40px auto auto auto
    }

    #center-drpdn{
        position: relative;
        margin-left: 40px;
    }

    #location-info p{
        margin: 0px 60px;
        line-height: 40px;
        font-size: 16px;
    }

    #gone{
        display: none;
    }

    .c-list a img{
        width: 200px;
        height: auto;
    }

}

@media screen and (min-width: 800px){
    #contain {
        height: 80%;
        width: 80%;
        margin: 0 auto;
    }

    .c-list a img{
        width: 200px;
        height: auto;
        margin: 10px;
    }

    .character-list{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){

    #title{
        font-size: 54px;
    }

    #big-organize{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 200px 200px 200px;
    }

    #move{
        margin: auto 0;
    }

    #contain {
        height: auto;
        width: 85%;
    }

    #zoom-img{
        grid-column: 1;
        grid-row: 2/5;
    }

    .dropdown{
        margin-top: 0px;
        grid-column: 2;
        grid-row: 1;
    }

    #location-info{
        margin-top: 80px;
        grid-column: 2;
        grid-row: 1/5;
    }

    .exInfo{
        grid-column: 1;
        grid-row: 2/5;
    }

    .dropbtn{
        margin-top: 0px;
        width: 200px;
    }

    .character-list{
        width: 100%;
        margin: 10px;
    }
}